{
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "env": {
    "node": true,
    "browser": false
  },
  "rules": {
    "indent": ["error", 4, {
      "SwitchCase": 1
    }],
    "global-require": "off",
    "comma-dangle": ["error", "never"]
  }
}
